<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML5 Starter Template</title>
    <meta name="description" content="Starter Template">
    <meta name="author" content="Gregry Pike">
    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
</body>
</html>
